<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
<h2>FAE Obstacle Tester</h2>

Obstacle Difficulty: <input id="difficulty" type="text" />
<br/><br/>
Highest Approach Bonus: <input id="bonus" type="text" value="3" />
<br/><br/>
Create an Advantage Difficulty: <input id="advantageDifficulty" type="text" />
<br/><br/>
# of Advantage Attempers: <input id="helpers" type="text" value="2" />
<br/><br/>
# of Times to Test this Obstacle: <input id="run" type="text" />
<br/><br/>
<input type="button" id="fateIt" value="FATE It Up"/>

<script src="/js/main.js"></script>
</body>
</html>