<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
<a th:href="${authUrl}">Authorize the Url</a>
<br/><br/>
Domain: <input id="basePage" type="text" th:value="${basePage}"/>
<input type="button" id="setUrl" value="Set Base URL"/>
<br/><br/>
Parse Page: <input id="parsePage" type="text" th:value="${parsePage}"/>
<input type="button" id="setParsePage" value="Set Parse Page"/>
<br/><br/>
Prefix: <input id="prefix" type="text" th:value="${prefix}"/>
<input type="button" id="setPrefix" value="Set Prefix"/>

<script src="/js/main.js"></script>
</body>
</html>