<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="/js/jquery.fs.zoetrope.min.js"></script>
    <script src="/js/toe.min.js"></script>
    <script src="/js/jquery.mousewheel.min.js"></script>
    <script src="/js/imgViewer.min.js"></script>
    <script src="/js/imgNotes.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<h2>Adventure Guild Map!</h2>

<div id="imgdiv" style="text-align: center">
    <img id="image" src="/img/guild-map.png" style="border: 5px solid #ccc; padding:20px;" width="80%"/>
</div>

<script src="/js/map.js"></script>
</body>
</html>