<!DOCTYPE html>
<html>
<head>
    <title>Adventure Guild - Persons of Interest</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<div class="page">
    <img id="leftTape" src="/images/tape-left.png"/>
    <img id="rightTape" src="/images/tape-right.png"/>
    <header th:replace="fragments/header :: header"></header>
    <h1>Persons of Interest</h1>

    <div class="npcs">
        <ul>
            <a href="/npc/nash">
                <li class="npcCard">
                    <div class="portrait">
                        <img src="http://i.imgur.com/pFfrlsn.png"/>
                    </div>
                    <div class="charName">
                        Laughing Nash Thatcher
                    </div>
                    <div class="charInfo">
                        <div class="charStatus">
                            <label>Status:</label>
                            <span>Imprisoned</span>
                        </div>
                        <div class="charAlignment">
                            <label>Relationship:</label>
                            <span>Enemy</span>
                        </div>
                    </div>
                </li>
            </a>
            <a href="/npc/nash">
                <li class="npcCard">
                    <div class="portrait">
                        <img src="http://i.imgur.com/pFfrlsn.png"/>
                    </div>
                    <div class="charName">
                        Laughing Nash Thatcher
                    </div>
                    <div class="charInfo">
                        <div class="charStatus">
                            <label>Status:</label>
                            <span>Imprisoned</span>
                        </div>
                        <div class="charAlignment">
                            <label>Relationship:</label>
                            <span>Enemy</span>
                        </div>
                    </div>
                </li>
            </a>
            <a href="/npc/nash">
                <li class="npcCard">
                    <div class="portrait">
                        <img src="http://i.imgur.com/pFfrlsn.png"/>
                    </div>
                    <div class="charName">
                        Laughing Nash Thatcher
                    </div>
                    <div class="charInfo">
                        <div class="charStatus">
                            <label>Status:</label>
                            <span>Imprisoned</span>
                        </div>
                        <div class="charAlignment">
                            <label>Relationship:</label>
                            <span>Enemy</span>
                        </div>
                    </div>
                </li>
            </a>
        </ul>
    </div>
    <img id="pen" src="/images/penspatter.png"/>
</div>
<script src="/js/main.js"></script>
</body>
</html>