<!DOCTYPE html>
<html>
<head>
    <title>FATE Obstacle Testing</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<div class="page">
    <img id="leftTape" src="/images/tape-left.png"/>
    <img id="rightTape" src="/images/tape-right.png"/>
    <header th:replace="fragments/header :: header"></header>
    <h2>FAE Obstacle Tester</h2>

    Obstacle Difficulty: <input id="difficulty" type="text"/>
    <br/><br/>
    Highest Approach Bonus: <input id="bonus" type="text" value="3"/>
    <br/><br/>
    Create an Advantage Difficulty: <input id="advantageDifficulty" type="text"/>
    <br/><br/>
    # of Advantage Attempers: <input id="helpers" type="text" value="2"/>
    <br/><br/>
    # of Times to Test this Obstacle: <input id="run" type="text"/>
    <br/><br/>
    <input type="button" id="fateIt" value="FATE It Up"/>

    <div id="results">
        <div id="failures">
            <b>Failures: </b> <span id="failSpan"></span>
        </div>
        <div id="ties">
            <b>Ties: </b> <span id="tieSpan"></span>
        </div>
        <div id="success">
            <b>Successes: </b> <span id="successSpan"></span>
        </div>
        <div id="withstyle">
            <b>Successes With Style: </b> <span id="withstyleSpan"></span>
        </div>
        <div id="withstyle">
            <b>Average Advantages Created: </b> <span id="average"></span>
        </div>

        <table id="resultTable">
            <thead>
            <tr>
                <th>Run #</th>
                <th>Outcome</th>
                <th>Difficulty</th>
                <th>Primary Roll</th>
                <th>Successful Helpers</th>
                <th>Failed Helpers</th>
                <th>Booster Helper # (0 = No Boost!)</th>
            </tr>
            </thead>
            <tbody id="resultTableBody">

            </tbody>
        </table>
    </div>
    <img id="pen" src="/images/penspatter.png"/>
</div>
<script src="/js/main.js"></script>
</body>
</html>